In [3]:
import pandas as pd
property = pd.read_excel(r'../data/Property Dataset Final.xlsx')
property.head()

,PropertyID,PropertyTown,PropertyCounty,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,YearOfConstruction,BedSpaces
0,U13210,Milltown,Co. Kerry,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,4
1,U13211,Milltown,Co. Kerry,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,4
2,U13217,Milltown,Co. Kerry,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3
3,U13223,Milltown,Co. Kerry,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3
4,U13224,Milltown,Co. Kerry,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3

In [4]:
property = pd.read_csv(r'../data/Property Dataset Final_150.csv')
property.head()

,PropertyID,PropertyStreetCode,PropertyTown,PropertyCounty,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,YearOfConstruction,BedSpaces
0,U13210,Ard Na Greine,Milltown,Co. Kerry,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,4
1,U13211,Ard Na Greine,Milltown,Co. Kerry,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,4
2,U13217,Ard Na Greine,Milltown,Co. Kerry,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3
3,U13223,Ard Na Greine,Milltown,Co. Kerry,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3
4,U13224,Ard Na Greine,Milltown,Co. Kerry,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3

In [3]:
property.shape

(11699, 20)

In [4]:
property.describe()
#not in any way useful for longitude, latitude but year of conscruction % and bed spaces might be useful

       PropertyLatitude  PropertyLongitude  YearOfConstruction     BedSpaces
count      11699.000000       11699.000000        11699.000000  11699.000000
mean          49.720839          -6.894054         1878.503633      2.269596
std           12.937171           2.107564          497.341450      0.891522
min            0.000000         -10.266660            0.000000      0.000000
25%           52.330032          -8.401104         2003.000000      2.000000
50%           53.269270          -6.803367         2008.000000      2.000000
75%           53.403565          -6.293380         2020.000000      3.000000
max           55.176926           0.000000         2023.000000     16.000000

In [11]:
property.index

RangeIndex(start=0, stop=11699, step=1)

In [12]:
property.sort_values("PropertyAreaOffice")

,PropertyID,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,PropertyLatitude,PropertyLongitude,YearOfConstruction,BedSpaces
11698,U14163,"61 Cnocan Glas, Letteragh Road",Aimee McGee,Letteragh Road,61,"Cnocan Glas, Letteragh Road",Galway,Co. Galway,H91,Pre-acquisition Void,Property,Aimee McGee,In Development - pre closing,Galway City,General Needs,Apartment,53.280930,-9.087900,2023,2
2896,U10068,"169 Acha Bhile, Loughville",Aimee McGee,Acha Bhile Loughville Lahinch Road,169,"Acha Bhile, Lahinch Road",Ennis,Co. Clare,V95 A898,Occupied,Property,Aimee McGee,Residential In Management,Clare County,General Needs,Apartment,52.857656,-9.011968,2007,2
8444,3941,56 Lios Na Circe,Aimee McGee,Lios na Circe,56,"Lios Na Circe, Saleen",Castlebar,Co. Mayo,F23 WK65,Occupied,Property,Aimee McGee,Residential In Management,Mayo County,General Needs,Semi-detached House,53.844637,-9.287024,2009,3
8445,3945,49 Lios Na Circe,Aimee McGee,Lios na Circe,49,"Lios Na Circe, Saleen",Castlebar,Co. Mayo,F23 AK73,Occupied,Property,Aimee McGee,Residential In Management,Mayo County,General Needs,Semi-detached House,53.845042,-9.286499,2009,4
8446,3948,57 Lios Na Circe,Aimee McGee,Lios na Circe,57,"Lios Na Circe, Saleen",Castlebar,Co. Mayo,F23 TX66,Occupied,Property,Aimee McGee,Residential In Management,Mayo County,General Needs,Semi-detached House,53.844597,-9.287081,2009,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,6143,Entered in Error,Sold/Disposed,Disposed Properties,Entered in Error,NaN,NaN,NaN,NaN,Housing Void,Property,Sold/Disposed,Disposed/Sold,NaN,General Needs,Bungalow,0.000000,0.000000,0,1
8433,3922,DISPOSED: 6 Dunloe Ave,Sold/Disposed,Dunloe Windtown,6,"Dunloe Ave, Windtown",Navan,Co. Meath,C15 KDP2,NaN,Property,Sold/Disposed,Disposed/Sold,Meath County,General Needs,Terraced House,53.668114,-6.699357,2002,3
8432,3921,DISPOSED: 5 Dunloe Drive Apt.,Sold/Disposed,Dunloe Windtown,5,"Dunloe Drive Apt., Windtown",Navan,Co. Meath,C15 TE82,NaN,Property,Sold/Disposed,Disposed/Sold,Meath County,General Needs,Apartment,53.669015,-6.699091,2002,2
1523,6148,13 Saint Johns Terrace,Sold/Disposed,Caranua Technical Services Contract,13,Saint Johns Terrace,Carrick-On-Suir,Co. Tipperary,E32 NW58,Housing Void,Property,Sold/Disposed,Caranua,NaN,General Needs,Bungalow,0.000000,0.000000,0,3
8516,4558,DISPOSED Room 3 Mulroy Park Group Home,Sold/Disposed,Disposed Properties,Room 3,"Mulroy Park Group Home, Milford Road",Carrigart,Co. Donegal,F92,Housing Void,Room in Group Home,Sold/Disposed,Disposed/Sold,Donegal County,NaN,NaN,0.000000,0.000000,0,0

In [15]:
property[property["PropertyAreaOffice"]=="Aimee McGee"]

,PropertyID,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,PropertyLatitude,PropertyLongitude,YearOfConstruction,BedSpaces
53,U13168,Grallagh,Aimee McGee,Grallagh,NaN,"Grallagh, Taugheen",Claremorris,Co. Mayo,F12 NC59,Occupied,Property,Aimee McGee,Residential In Management,Mayo County,General Needs,Detached House,53.74007,-8.76022,2001,5
60,U13149,"38 Cedar Avenue, The Gallops, Latt",Aimee McGee,The Gallops,38,"Cedar Avenue, The Gallops, Latt",Cavan,Co. Cavan,H12 AD73,Occupied,Property,Aimee McGee,Residential In Management,Cavan County,General Needs,Semi-detached House,54.01484,-7.35935,2022,2
65,U13247,41 Gort Na Fuinse,Aimee McGee,Gort Na Fuinse,41,Gort Na Fuinse,Headford,Co. Galway,H91 XT2C,Occupied,Property,Aimee McGee,Residential In Management,Galway County,General Needs,Semi-detached House,53.47152,-9.10848,2022,4
66,U13248,42 Gort Na Fuinse,Aimee McGee,Gort Na Fuinse,42,Gort Na Fuinse,Headford,Co. Galway,H91 VY1X,Occupied,Property,Aimee McGee,Residential In Management,Galway County,General Needs,Terraced House,53.47152,-9.10848,2022,2
67,U13249,43 Gort Na Fuinse,Aimee McGee,Gort Na Fuinse,43,Gort Na Fuinse,Headford,Co. Galway,H91 PHY4,Occupied,Property,Aimee McGee,Residential In Management,Galway County,General Needs,Terraced House,53.47152,-9.10848,2022,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11692,U14162,"60 Cnocan Glas, Letteragh Road",Aimee McGee,Letteragh Road,60,"Cnocan Glas, Letteragh Road",Galway,Co. Galway,H91,Pre-acquisition Void,Property,Aimee McGee,In Development - pre closing,Galway City,General Needs,Apartment,53.28093,-9.08790,2023,2
11693,U14164,"62 Cnocan Glas, Letteragh Road",Aimee McGee,Letteragh Road,62,"Cnocan Glas, Letteragh Road",Galway,Co. Galway,H91,Pre-acquisition Void,Property,Aimee McGee,In Development - pre closing,Galway City,General Needs,Apartment,53.28093,-9.08790,2023,3
11694,U14165,"63 Cnocan Glas, Letteragh Road",Aimee McGee,Letteragh Road,63,"Cnocan Glas, Letteragh Road",Galway,Co. Galway,H91,Pre-acquisition Void,Property,Aimee McGee,In Development - pre closing,Galway City,General Needs,Apartment,53.28093,-9.08790,2023,2
11695,U14166,"64 Cnocan Glas, Letteragh Road",Aimee McGee,Letteragh Road,64,"Cnocan Glas, Letteragh Road",Galway,Co. Galway,H91,Pre-acquisition Void,Property,Aimee McGee,In Development - pre closing,Galway City,General Needs,Apartment,53.28093,-9.08790,2023,2
11698,U14163,"61 Cnocan Glas, Letteragh Road",Aimee McGee,Letteragh Road,61,"Cnocan Glas, Letteragh Road",Galway,Co. Galway,H91,Pre-acquisition Void,Property,Aimee McGee,In Development - pre closing,Galway City,General Needs,Apartment,53.28093,-9.08790,2023,2

In [13]:
import numpy as np
property.isnull().sum()

PropertyID                 0
PropertyName               0
PropertyAreaCode           0
PropertyStreetCode         0
PropertyNumber           162
PropertyStreet           247
PropertyTown             295
PropertyCounty           267
eircode                  275
PropertyCurrentStatus     64
PropertyType             175
HousingManager             0
PropertyOwningBody         1
LocalAuthority           694
PropertySubType          496
PropertyStyle            171
PropertyLatitude           0
PropertyLongitude          0
YearOfConstruction         0
BedSpaces                  0
dtype: int64

In [10]:
import pandas as pd
property = pd.read_excel(r'C:\Users\ahayes\PycharmProjects\UCDPA_AH_PROPER\data\Property Dataset March 2023.xlsx')
property.groupby('PropertyCounty')['PropertyStyle'].count()
#some duplication of county names and merging of other is needed to tidy up this data

PropertyCounty
Co. Carlow        235
Co. Cavan         114
Co. Clare          95
Co. Cork         1443
Co. Donegal       208
Co. Dublin        862
Co. Galway        722
Co. Kerry         536
Co. Kildare       721
Co. Kilkenny      109
Co. Laois         482
Co. Leitrim        11
Co. Limerick      338
Co. Longford      164
Co. Louth         666
Co. Mayo          203
Co. Meath         535
Co. Monaghan       21
Co. Offaly        131
Co. Roscommon      40
Co. Sligo         155
Co. Tipperary     294
Co. Waterford     252
Co. Westmeath      57
Co. Wexford       358
Co. Wicklow       119
Cork                7
DUblin 1            2
DUblin 15           1
Dublin              1
Dublin 1          183
Dublin 1           80
Dublin 10           9
Dublin 11         176
Dublin 12          44
Dublin 13         322
Dublin 14          20
Dublin 15         175
Dublin 16           2
Dublin 17          64
Dublin 18         289
Dublin 20          72
Dublin 22         171
Dublin 24         324
Dublin 3           12
Dublin 4           61
Dublin 5           58
Dublin 6           17
Dublin 7           86
Dublin 8          167
Dublin 9           44
Galway              1
Limerick            1
Waterford           2
Name: PropertyStyle, dtype: int64

In [23]:
#changing index on the data
New = pd.read_excel(r'C:\Users\ahayes\PycharmProjects\UCDPA_AH_PROPER\data\Property Dataset March 2023.xlsx')
New = pd.read_excel(r'C:\Users\ahayes\PycharmProjects\UCDPA_AH_PROPER\data\Property Dataset March 2023.xlsx', index_col = "PropertyID")
New.head()

,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,PropertyLatitude,PropertyLongitude,YearOfConstruction,BedSpaces
PropertyID,,,,,,,,,,,,,,,,,,,
U13210,"7 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,7,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 HWR0,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,4
U13211,"8 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,8,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 N40P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,4
U13217,"14 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,14,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 FA4P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3
U13223,"20 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,20,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 TRX4,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3
U13224,"21 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,21,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 C8YV,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3

In [26]:
#returning just one column
New ["PropertyTown"]
New.PropertyTown

PropertyID
U13210      Milltown
U13211      Milltown
U13217      Milltown
U13223      Milltown
U13224      Milltown
             ...
U14165       Galway
U14166       Galway
U14130    Clondalkin
U14135    Clondalkin
U14163       Galway
Name: PropertyTown, Length: 11699, dtype: object

In [37]:
#deleting columns - Longitude and Latitude
New = pd.read_excel(r'C:\Users\ahayes\PycharmProjects\UCDPA_AH_PROPER\data\Property Dataset March 2023.xlsx', index_col = "PropertyID")
New.drop("PropertyLatitude",inplace = True, axis = 1)
New.head()
New.drop("PropertyLongitude",inplace = True, axis = 1)
New.head()

,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,YearOfConstruction,BedSpaces
PropertyID,,,,,,,,,,,,,,,,,
U13210,"7 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,7,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 HWR0,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,4
U13211,"8 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,8,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 N40P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,4
U13217,"14 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,14,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 FA4P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3
U13223,"20 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,20,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 TRX4,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3
U13224,"21 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,21,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 C8YV,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3

In [39]:
#add additional column
New ["Province"] =""
New.head()

,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,YearOfConstruction,BedSpaces,Province
PropertyID,,,,,,,,,,,,,,,,,,
U13210,"7 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,7,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 HWR0,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,4,
U13211,"8 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,8,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 N40P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,4,
U13217,"14 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,14,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 FA4P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3,
U13223,"20 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,20,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 TRX4,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3,
U13224,"21 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,21,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 C8YV,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3,

In [43]:
New[New["PropertyCounty"]=="Co.Kerry"]
New.head()

,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,YearOfConstruction,BedSpaces,Province
PropertyID,,,,,,,,,,,,,,,,,,
U13210,"7 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,7,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 HWR0,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,4,
U13211,"8 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,8,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 N40P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,4,
U13217,"14 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,14,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 FA4P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3,
U13223,"20 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,20,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 TRX4,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3,
U13224,"21 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,21,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 C8YV,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,2022,3,

In [49]:
#Importing Data from Kaggle
Titanic = pd.read_csv(r'C:\Users\ahayes\PycharmProjects\UCDPA_AH_PROPER\data\Titanic.csv')
Titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [52]:
#importing dataset from seaborn
#first check what is available on seaborn -http://seaborn.pydata.org/tutorial/introduction.html#multivariate-views-on-complex-datasets
import seaborn as sns
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [54]:
#using an API
import requests

url = "https://unogsng.p.rapidapi.com/genres"

headers = {
        "X-RapidAPI-Key": "SIGN-UP-FOR-KEY",
        "X-RapidAPI-Host": "unogsng.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

print(response.text)

{"message":"You are not subscribed to this API."}

In [9]:
#subscribed to rapidapi.com and got a token and tried again
import requests

url = "https://unogsng.p.rapidapi.com/genres"

headers = {
	"X-RapidAPI-Key": "2f8253dc65mshf5db400c3152ac6p14007djsn78987098a841",
	"X-RapidAPI-Host": "unogsng.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

print(response.text)

{
    "12739": "20th Century Period Pieces",
    "77213": "Absurd Comedies",
    "51063": "Academy Award-Winning Films",
    "1365": "Acci\u00f3n y aventuras",
    "2125": "Acci\u00f3n y aventuras militares",
    "801362": "Action",
    "10673": "Action & Adventure Programmes",
    "2653": "Action Anime",
    "43040": "Action Comedies",
    "1568": "Action Sci-Fi & Fantasy",
    "43048": "Action Thrillers",
    "788212": "Actionkrimis",
    "11881": "Adult Animation",
    "7442": "Adventures",
    "3761": "African Films",
    "4906": "African-American Comedies",
    "10778": "African-American Stand-up Comedy",
    "3327": "Alien Sci-Fi",
    "12123": "Ambientadas en otra \u00e9poca",
    "72404": "American Programmes",
    "5507": "Animal Tales",
    "786708": "Animated Movies",
    "4698": "Animation",
    "7424": "Anime",
    "1819777": "Anime based on a Video Game",
    "1819776": "Anime based on Books",
    "2316199": "Anime based on Comics",
    "2867325": "Anime Based on Light Novels",
    "9302": "Anime Comedies",
    "452": "Anime Dramas",
    "11146": "Anime Fantasies",
    "3063": "Anime Feature Films",
    "2797624": "Anime for Gamers",
    "10695": "Anime Horror Films",
    "2246382": "Anime released in 2017",
    "2729": "Anime Sci-Fi",
    "1433679": "Anime Sci-Fi & Fantasy",
    "6721": "Anime Series",
    "81417788": "Argentinian",
    "6133": "Argentinian Films",
    "69616": "Argentinian TV Shows",
    "29764": "Art House Films",
    "77232": "Asian Action Films",
    "78104": "Asian Movies",
    "78103": "Asian Programmes",
    "81427741": "Australian",
    "2030": "Australian Comedies",
    "17672": "Australian Documentaries",
    "11075": "Australian Dramas",
    "5230": "Australian Films",
    "10719": "Australian Thrillers",
    "52387": "Australian TV Programmes",
    "81427742": "Austrian",
    "89844": "Award-films",
    "89804": "Award-winning Dramas",
    "8195": "B-Horror Films",
    "2300348": "Baeksang Arts Awards Winners",
    "69946": "BAFTA Award-Winning Films",
    "27346": "Barne-TV",
    "12339": "Baseball Films",
    "12762": "Basketball Films",
    "81427743": "Belgian",
    "262": "Belgian Films",
    "60594": "Bengali-language Films",
    "846815": "Berlin Film Festival Award-winning Movies",
    "3652": "Biographical Documentaries",
    "3179": "Biographical Dramas",
    "1096": "Biographical Movies",
    "90176": "Blockbuster Action & Adventure",
    "90139": "Blockbuster Movies",
    "90166": "Blockbuster Sci-Fi & Fantasy",
    "2300054": "Blue Dragon Film Award-winning Movies",
    "5480": "Bollywood Films",
    "12443": "Boxing Films",
    "81417793": "Brazilian",
    "17648": "Brazilian Comedies",
    "28269": "Brazilian Documentaries",
    "4425": "Brazilian Dramas",
    "798": "Brazilian Films",
    "84488": "Brazilian Music & Musicals",
    "84489": "Brazilian Music and Concert Movies",
    "69624": "Brazilian TV Programmes",
    "10757": "Britische Filme",
    "81399656": "British",
    "1302": "British Action & Adventure",
    "1009": "British Comedies",
    "6051": "British Crime Films",
    "3682": "British Dramas",
    "52508": "British Miniseries",
    "12433": "British Period Pieces",
    "52117": "British Programmes",
    "1774": "British Thrillers",
    "52140": "British TV Comedies",
    "52148": "British TV Dramas",
    "52120": "British TV Mysteries",
    "28134": "Buddy Comedies",
    "81427748": "Bulgarian",
    "1252": "Camp Films",
    "81418152": "Canadian",
    "56174": "Canadian Comedies",
    "56178": "Canadian Documentaries",
    "56169": "Canadian Dramas",
    "56181": "Canadian Films",
    "56184": "Canadian Independent Films",
    "58704": "Canadian TV Programmes",
    "846810": "Cannes Film Festival Award-winning Movies",
    "702387": "Cannes Film Festival Winners",
    "783": "Children & Family Films",
    "1305303": "Chilean Films & TV",
    "90848": "Chilling Horror Films",
    "80353": "Chinese  Programmes",
    "8999": "Chinese Action & Adventure",
    "9229": "Chinese Comedies",
    "5572": "Chinese Dramas",
    "3960": "Chinese Films",
    "1372": "Ciencia ficci\u00f3n y fantas\u00eda para TV",
    "46576": "Classic Action & Adventure",
    "46560": "Classic British Films",
    "48586": "Classic Children & Family Films",
    "31694": "Classic Comedies",
    "29809": "Classic Dramas",
    "31574": "Classic Films",
    "48303": "Classic Horror Films",
    "1476390": "Classic International Movies",
    "31853": "Classic Japanese Movies",
    "32392": "Classic Musicals",
    "31273": "Classic Romantic Films",
    "47147": "Classic Sci-Fi & Fantasy",
    "46588": "Classic Thrillers",
    "46553": "Classic TV Programmes",
    "48744": "Classic War Films",
    "47465": "Classic Westerns",
    "81418153": "Colombian",
    "69636": "Colombian Movies",
    "69622": "Colombian TV Programmes",
    "6548": "Comedias",
    "3519": "Comedias adolescentes",
    "9434": "Comedias de culto",
    "4195": "Comedias independientes",
    "5475": "Comedias rom\u00e1nticas",
    "1003219": "Comedy Blockbusters",
    "78163": "Comedy Jams",
    "10375": "Comedy Programmes",
    "53717": "Comic Book & Superhero TV",
    "10118": "Comic Book and Superhero Films",
    "49266": "Competition Reality TV",
    "81248636": "Concerts",
    "1105": "Country & Western/Folk",
    "2748": "Courtroom Dramas",
    "10714": "Courtroom Films",
    "25955": "Courtroom TV Dramas",
    "25801": "Courtroom TV Programmes",
    "6895": "Creature Features",
    "9584": "Crime Action & Adventure",
    "4058": "Crime Comedies",
    "9875": "Crime Documentaries",
    "26126": "Crime Docuseries",
    "6889": "Crime Dramas",
    "5824": "Crime Films",
    "10185": "Crime Films based on real life",
    "26146": "Crime Programmes",
    "10499": "Crime Thrillers",
    "26009": "Crime TV Dramas",
    "37938": "Crime TV Soaps",
    "9736": "Critically Acclaimed Comedies",
    "6206": "Critically Acclaimed Dramas",
    "3979": "Critically Acclaimed Films",
    "899": "Critically-acclaimed Action & Adventure",
    "8673": "Critically-acclaimed Documentaries",
    "875": "Critically-acclaimed Independent Films",
    "5903": "Critically-acclaimed Sci-Fi & Fantasy",
    "7627": "Cult Films",
    "10944": "Cult Horror Films",
    "4734": "Cult Sci-Fi & Fantasy",
    "74652": "Cult TV Programmes",
    "1964512": "Cyberpunk",
    "1522235": "Cyborg & Robot Anime",
    "81444566": "Czech",
    "1697": "Czech Movies",
    "8451": "Dance",
    "81418679": "Danish",
    "59169": "Danish Comedies",
    "58700": "Danish Films",
    "77951": "Danish TV Shows",
    "869": "Dark Comedies",
    "45028": "Deep Sea Horror Films",
    "11177": "Dibujos animados",
    "67673": "Disney",
    "65218": "Disney Family Features",
    "65437": "Disney Films",
    "6839": "Documentaries",
    "2243108": "Documentaries",
    "10105": "Documentary Programmes",
    "81562604": "Docuseries",
    "5763": "Drama",
    "11714": "Drama Programmes",
    "3653": "Dramas basados en la vida real",
    "4961": "Dramas baseados em livros",
    "13158": "Dramas based on classic literature",
    "12994": "Dramas based on contemporary literature",
    "11": "Dramas militares",
    "75459": "Dramas policiais",
    "6616": "Dramas pol\u00edticos",
    "1255": "Dramas rom\u00e1nticos",
    "81422104": "Dutch",
    "89513": "Dutch Children & Family Movies",
    "79871": "Dutch Comedies",
    "9873": "Dutch Dramas",
    "10606": "Dutch Films",
    "89442": "Dutch TV Shows",
    "5254": "Eastern European Films",
    "10659": "Educaci\u00f3n y orientaci\u00f3n",
    "81444569": "Egyptian",
    "81237077": "Egyptian Movies",
    "81257861": "Egyptian TV Shows",
    "81458642": "Emirati",
    "52858": "Epics",
    "89682": "European Comedies",
    "89680": "European Dramas",
    "89708": "European Movies",
    "89692": "European Thrillers",
    "89663": "European TV Shows",
    "11079": "Experimental Films",
    "26835": "Faith & Spirituality",
    "52804": "Faith & Spirituality Films",
    "52855": "Familieavonturen",
    "52847": "Familiecomedy",
    "58879": "Family Animation",
    "2245805": "Family Cozy Time",
    "31901": "Family Dramas",
    "51058": "Family Feature Animation",
    "51056": "Family Features",
    "52849": "Family Sci-Fi & Fantasy",
    "2072262": "Family Watch Together TV",
    "9744": "Fantasy",
    "1002031": "Fantasy TV Programmes",
    "77599": "Female Stand-up Comedy",
    "107985": "Festive Favourites",
    "81422106": "Filipino",
    "10869": "Filipino Films",
    "80380": "Filipino TV Shows",
    "7687": "Film Noir",
    "31851": "Filmes sobre m\u00e1fia",
    "9889": "Films Based on Books",
    "10056": "Films based on childrens books",
    "920": "Films Based on Real Life",
    "6796": "Films for ages 0 to 2",
    "6962": "Films for ages 11 to 12",
    "6218": "Films for ages 2 to 4",
    "5455": "Films for ages 5 to 7",
    "561": "Films for ages 8 to 10",
    "81418681": "Finnish",
    "62285": "Finnish Movies",
    "78503": "Finnish TV Shows",
    "1515639": "Food & Travel Docs",
    "72436": "Food & Travel TV",
    "3890": "Food & Wine",
    "12803": "Football Films",
    "12549": "Football Films",
    "4426": "Foreign Comedies",
    "5161": "Foreign Documentaries",
    "10306": "Foreign Thrillers",
    "58807": "Franse films",
    "81399454": "French",
    "58905": "French Comedies",
    "58710": "French Documentaries",
    "58677": "French Dramas",
    "58798": "French Thrillers",
    "62041": "French TV Programmes",
    "1626246": "Futuristic Sci-Fi",
    "30140": "Gangster Action & Adventure",
    "7120": "Gay & Lesbian Comedies",
    "4720": "Gay & Lesbian Documentaries",
    "500": "Gay & Lesbian Dramas",
    "5977": "Gay & Lesbian Films",
    "65263": "Gay & Lesbian TV Programmes",
    "81417795": "German",
    "63115": "German Comedies",
    "61695": "German Crime Movies",
    "63286": "German Documentaries",
    "58755": "German Dramas",
    "58886": "German Films",
    "65198": "German TV Programmes",
    "82489": "Golden Globe Award-winning Films",
    "6197": "Goofy Comedies",
    "9509": "Gory Horror Films",
    "27756": "Heist Action & Adventure",
    "27018": "Heist Films",
    "58806": "Hindi-Language Films",
    "80307": "Hindi-language TV Programmes",
    "6073": "Hip-Hop",
    "2075446": "Historical Anime",
    "5349": "Historical Documentaries",
    "71591": "Historical Dramas",
    "71590": "Historical Films",
    "1023212": "Home & Garden Reality TV",
    "81427753": "Hong Kong",
    "58676": "Hong Kong Films",
    "89585": "Horror Comedies",
    "8711": "Horror Films",
    "83059": "Horror Programmes",
    "81448926": "Hungarian",
    "59954": "Hungarian Movies",
    "11804": "Independent Action & Adventure",
    "384": "Independent Dramas",
    "7077": "Independent Films",
    "3269": "Independent Thrillers",
    "81418683": "Indian",
    "9942": "Indian Comedies",
    "5051": "Indian Dramas",
    "10463": "Indian Films",
    "59872": "Indian Programmes",
    "81458611": "Indonesian",
    "2867320": "Indonesian Films",
    "78367": "Internationaal",
    "852490": "International Action & Adventure",
    "852492": "International Comedies",
    "852494": "International Documentaries",
    "852493": "International Dramas",
    "1208621": "International Historical TV Dramas",
    "1475312": "International Horror Movies",
    "1218090": "International Kids TV",
    "1475315": "International Period Pieces",
    "1195213": "International Programmes",
    "2070375": "International Reality, Talk & Variety Shows",
    "852491": "International Sci-Fi & Fantasy",
    "852488": "International Thrillers",
    "1208951": "International TV Comedies",
    "1208954": "International TV Dramas",
    "1192483": "International TV Sci-Fi & Fantasy",
    "1461986": "International TV Thrillers & Mysteries",
    "48785": "Investigative Reality TV",
    "81427754": "Irish",
    "58750": "Irish Films",
    "11039": "Irreverent Stand-up Comedy",
    "81427755": "Israeli",
    "2710229": "Israeli TV Shows",
    "81417798": "Italian",
    "3300": "Italian Comedies",
    "4282": "Italian Dramas",
    "8221": "Italian Films",
    "6867": "Italian Thrillers",
    "62866": "Italian TV Programmes",
    "81418687": "Japanese",
    "1293326": "Japanese Academy Award-winning Movies",
    "4344": "Japanese Action & Adventure",
    "1747": "Japanese Comedies",
    "1650093": "Japanese Documentary Movies",
    "2893": "Japanese Dramas",
    "10398": "Japanese Films",
    "31244": "Japanese Gangster Movies",
    "10750": "Japanese Horror Films",
    "65925": "Japanese Kids TV",
    "1519160": "Japanese Movies based on Comics",
    "1402191": "Japanese Period Dramas",
    "64256": "Japanese Programmes",
    "6000": "Japanese Sci-Fi & Fantasy",
    "799": "Japanese Thrillers",
    "711366": "Japanese TV Comedies",
    "1648599": "Japanese TV Documentaries",
    "711367": "Japanese TV Dramas",
    "1592212": "Japanese TV Reality & Variety",
    "1461923": "Japanese TV Sci-Fi & Fantasy",
    "2691923": "Japanese TV Series",
    "1627743": "Japanese TV Shows Based on Comics",
    "1138506": "Japanese TV Thrillers",
    "1652485": "Japanese Youth Dramas",
    "2070663": "Japanese Youth TV Dramas",
    "10271": "Jazz & Easy Listening",
    "2638104": "K-dramas",
    "2936382": "K-dramas based on Webtoon",
    "2075452": "Kannada Movies & TV",
    "413820": "Kids Anime",
    "751423": "Kids Faith & Spirituality",
    "52843": "Kids Music",
    "28233": "Kids TV for ages 0 to 2",
    "27950": "Kids TV for ages 11 to 12",
    "27480": "Kids TV for ages 2 to 4",
    "28034": "Kids TV for ages 5 to 7",
    "28083": "Kids TV for ages 8 to 10",
    "81427756": "Korean",
    "8248": "Korean Action & Adventure",
    "6626": "Korean Comedies",
    "1989": "Korean Drama Movies",
    "5685": "Korean Films",
    "67879": "Korean Programmes",
    "2072269": "Korean Reality, Variety & Talk Shows",
    "11283": "Korean Thrillers",
    "68699": "Korean TV Dramas",
    "1402": "Late Night Comedies",
    "3996": "Latin American Comedies",
    "15456": "Latin American Documentaries",
    "6763": "Latin American Dramas",
    "1613": "Latin American Films",
    "88635": "Latin American Music & Musicals",
    "67708": "Latin American TV Programmes",
    "10741": "Latin Music",
    "1333288": "Laugh-Out-Loud Comedies",
    "81458633": "Lebanese",
    "2738568": "Lifestyle",
    "74253": "Little Kids",
    "2199520": "Mainland Chinese Movies",
    "2199564": "Mainland Chinese TV Shows",
    "49296": "Makeover Reality TV",
    "59849": "Malayalam-Language Films",
    "81458634": "Malaysian",
    "3057773": "Malaysian Films",
    "2199042": "Malaysian Programmes",
    "2190064": "Marathi-language Films",
    "8985": "Martial Arts Films",
    "6695": "Martial Arts, Boxing & Wrestling",
    "34204": "Medical TV Dramas",
    "34028": "Medical TV Programmes",
    "81417800": "Mexican",
    "105": "Mexican Comedies",
    "2757": "Mexican Dramas",
    "7825": "Mexican Films",
    "67644": "Mexican TV Programmes",
    "5875": "Middle Eastern Movies",
    "1476847": "Middle Eastern TV Programmes",
    "76501": "Military & War Action & Adventure",
    "76507": "Military & War Dramas",
    "76510": "Military & War Movies",
    "4006": "Military Documentaries",
    "5962": "Military Films",
    "25804": "Military TV Programmes",
    "81498": "Mind Game Thrillers",
    "4814": "Miniseries",
    "9994": "Mist\u00e9rios",
    "4366": "Misterios para TV",
    "75415": "Mist\u00e9rios policiais",
    "26": "Mockumentaries",
    "76186": "Modern Classic Movies",
    "947": "Monster Films",
    "1701": "Music",
    "90361": "Music & Concert Documentaries",
    "52852": "Music & Musicals",
    "84483": "Music and Concert Films",
    "13335": "Musicals",
    "81216565": "Mystery & Thriller Anime",
    "48768": "Nature & Ecology Documentaries",
    "49547": "Nature & Ecology Docuseries",
    "81404209": "Nollywood",
    "1138254": "Nollywood Films",
    "78655": "Nordic Comedies",
    "78628": "Nordic Dramas",
    "78141": "Nordic Movies",
    "78634": "Nordic TV Shows",
    "81422105": "Norwegian",
    "61132": "Norwegian Comedies",
    "78463": "Norwegian Crime Movies",
    "62235": "Norwegian Dramas",
    "62510": "Norwegian Films",
    "78507": "Norwegian Thrillers",
    "1827694": "Owarai & Variety Shows",
    "2778638": "Pakistani Films",
    "8883": "Pel\u00edculas rom\u00e1nticas",
    "75418": "Police Action & Adventure",
    "79049": "Police Detective Movies",
    "75436": "Police Movies",
    "75390": "Police Thrillers",
    "75392": "Police TV Shows",
    "81422107": "Polish",
    "6102": "Polish Comedies",
    "11729": "Polish Dramas",
    "6299": "Polish Films",
    "6047": "Polish Thrillers",
    "1622170": "Polish TV Programmes",
    "2700": "Political Comedies",
    "7018": "Political Documentaries",
    "10504": "Political Thrillers",
    "55087": "Political TV Documentaries",
    "25807": "Political TV Programmes",
    "77230": "Politically Incorrect Stand-up Comedy",
    "81427762": "Portuguese",
    "83": "Programas de TV y series",
    "4809": "Psychological Horror Films",
    "5505": "Psychological Thrillers",
    "58982": "Punjabi-language Films",
    "36103": "Quirky Romance",
    "5756": "Raunchy Comedies",
    "9833": "Reality Programmes",
    "2070390": "Reality, Variety & Talk Shows",
    "10005": "Religious Documentaries",
    "1408777": "Retro Anime",
    "3278": "Rock & Pop",
    "4649": "Rockumentaries",
    "1522234": "Romance Anime",
    "26156": "Romance Programmes",
    "502675": "Romances de siempre",
    "81448928": "Romanian",
    "61924": "Romanian Movies",
    "10455": "Romantic British Films",
    "81216629": "Romantic Comedy Anime",
    "61656": "Romantic Danish Movies",
    "62752": "Romantic Dutch Movies",
    "89712": "Romantic European Movies",
    "3830": "Romantic Films based on a book",
    "58900": "Romantic French Films",
    "3329": "Romantic Gay & Lesbian Films",
    "9916": "Romantic Independent Films",
    "1474327": "Romantic International Movies",
    "1295410": "Romantic International TV Shows",
    "7908": "Romantic Italian Films",
    "17241": "Romantic Japanese Films",
    "1458609": "Romantic Japanese TV Shows",
    "16890": "Romantic Korean Movies",
    "78250": "Romantic Nordic Movies",
    "9257": "Romantic Tearjerkers",
    "1630981": "Romantic Turkish Movies",
    "26049": "Romantic TV Comedies",
    "26056": "Romantic TV Dramas",
    "26052": "Romantic TV Soaps",
    "1655810": "Romantic Youth Drama",
    "11567": "Russian",
    "81427763": "Russian",
    "1769574": "Russian TV Programmes",
    "6998": "Satanic Stories",
    "4922": "Satires",
    "81458620": "Saudi",
    "11755": "Scandinavian Comedies",
    "1884": "Scandinavian Crime Films",
    "2696": "Scandinavian Dramas",
    "9292": "Scandinavian Films",
    "69192": "Scandinavian Independent Movies",
    "1321": "Scandinavian Thrillers",
    "76802": "Scandinavian TV",
    "1623841": "School Anime",
    "108533": "Sci-Fi",
    "1492": "Sci-Fi & Fantasy",
    "6926": "Sci-Fi Adventure",
    "3916": "Sci-Fi Dramas",
    "3276033": "Sci-Fi Films",
    "1694": "Sci-Fi Horror Films",
    "11014": "Sci-Fi Thrillers",
    "3300242": "Sci-Fi TV",
    "2595": "Science & Nature Docs",
    "52780": "Science & Nature TV",
    "49110": "Science & Technology Documentaries",
    "50232": "Science & Technology Docuseries",
    "9702": "Screwball Comedies",
    "2913945": "Seinen Anime",
    "3292470": "Shoujo Anime",
    "2867624": "Shounen Anime",
    "25485": "Showbiz Documentaries",
    "5012": "Showbiz Dramas",
    "13573": "Showbiz Musicals",
    "53310": "Silent Films",
    "81422108": "Singaporean",
    "81306797": "Singaporean Movies",
    "1830680": "Singaporean Programmes",
    "3903": "Sitcoms",
    "10256": "Slapstick Comedies",
    "8646": "Slasher & Serial Killer Movies",
    "1519826": "Slice of Life Anime",
    "81444580": "Slovakian",

In [10]:
# looks like a csv file but not too sure
genres = response.text
type(genres)

str

In [36]:
import json as json
myfile = json.loads(response.text)
movie_genres = pd.DataFrame(myfile.items(), columns = ["ID", "Genre"])
print(movie_genres)
movie_genres.head()

          ID                         Genre
0      12739    20th Century Period Pieces
1      77213               Absurd Comedies
2      51063   Academy Award-Winning Films
3       1365            Acción y aventuras
4       2125  Acción y aventuras militares
..       ...                           ...
659     7700                      Westerns
660     2856                   World Music
661    70023                    WWII Films
662  1502288                   Youth Drama
663    75405           Zombie Horror Films

[664 rows x 2 columns]

      ID                         Genre
0  12739    20th Century Period Pieces
1  77213               Absurd Comedies
2  51063   Academy Award-Winning Films
3   1365            Acción y aventuras
4   2125  Acción y aventuras militares

In [38]:
movie_genres.set_index("ID")

                                Genre
ID
12739      20th Century Period Pieces
77213                 Absurd Comedies
51063     Academy Award-Winning Films
1365               Acción y aventuras
2125     Acción y aventuras militares
...                               ...
7700                         Westerns
2856                      World Music
70023                      WWII Films
1502288                   Youth Drama
75405             Zombie Horror Films

[664 rows x 1 columns]

In [39]:
#Preparation of data for my assignment
#Create a DataFrame
property = pd.read_excel(r'C:\Users\ahayes\PycharmProjects\UCDPA_AH_PROPER\data\Property Dataset March 2023.xlsx')
property.head()

,PropertyID,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,PropertyLatitude,PropertyLongitude,YearOfConstruction,BedSpaces
0,U13210,"7 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,7,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 HWR0,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,4
1,U13211,"8 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,8,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 N40P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,4
2,U13217,"14 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,14,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 FA4P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3
3,U13223,"20 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,20,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 TRX4,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3
4,U13224,"21 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,21,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 C8YV,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3

In [55]:
#Sorting data - first get a list of all column names, then sort by PropertyAreaOffice
property.columns
property.sort_values("PropertyAreaOffice")

,PropertyID,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,PropertyLatitude,PropertyLongitude,YearOfConstruction,BedSpaces
11698,U14163,"61 Cnocan Glas, Letteragh Road",Aimee McGee,Letteragh Road,61,"Cnocan Glas, Letteragh Road",Galway,Co. Galway,H91,Pre-acquisition Void,Property,Aimee McGee,In Development - pre closing,Galway City,General Needs,Apartment,53.280930,-9.087900,2023,2
2896,U10068,"169 Acha Bhile, Loughville",Aimee McGee,Acha Bhile Loughville Lahinch Road,169,"Acha Bhile, Lahinch Road",Ennis,Co. Clare,V95 A898,Occupied,Property,Aimee McGee,Residential In Management,Clare County,General Needs,Apartment,52.857656,-9.011968,2007,2
8444,3941,56 Lios Na Circe,Aimee McGee,Lios na Circe,56,"Lios Na Circe, Saleen",Castlebar,Co. Mayo,F23 WK65,Occupied,Property,Aimee McGee,Residential In Management,Mayo County,General Needs,Semi-detached House,53.844637,-9.287024,2009,3
8445,3945,49 Lios Na Circe,Aimee McGee,Lios na Circe,49,"Lios Na Circe, Saleen",Castlebar,Co. Mayo,F23 AK73,Occupied,Property,Aimee McGee,Residential In Management,Mayo County,General Needs,Semi-detached House,53.845042,-9.286499,2009,4
8446,3948,57 Lios Na Circe,Aimee McGee,Lios na Circe,57,"Lios Na Circe, Saleen",Castlebar,Co. Mayo,F23 TX66,Occupied,Property,Aimee McGee,Residential In Management,Mayo County,General Needs,Semi-detached House,53.844597,-9.287081,2009,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,6143,Entered in Error,Sold/Disposed,Disposed Properties,Entered in Error,NaN,NaN,NaN,NaN,Housing Void,Property,Sold/Disposed,Disposed/Sold,NaN,General Needs,Bungalow,0.000000,0.000000,0,1
8433,3922,DISPOSED: 6 Dunloe Ave,Sold/Disposed,Dunloe Windtown,6,"Dunloe Ave, Windtown",Navan,Co. Meath,C15 KDP2,NaN,Property,Sold/Disposed,Disposed/Sold,Meath County,General Needs,Terraced House,53.668114,-6.699357,2002,3
8432,3921,DISPOSED: 5 Dunloe Drive Apt.,Sold/Disposed,Dunloe Windtown,5,"Dunloe Drive Apt., Windtown",Navan,Co. Meath,C15 TE82,NaN,Property,Sold/Disposed,Disposed/Sold,Meath County,General Needs,Apartment,53.669015,-6.699091,2002,2
1523,6148,13 Saint Johns Terrace,Sold/Disposed,Caranua Technical Services Contract,13,Saint Johns Terrace,Carrick-On-Suir,Co. Tipperary,E32 NW58,Housing Void,Property,Sold/Disposed,Caranua,NaN,General Needs,Bungalow,0.000000,0.000000,0,3
8516,4558,DISPOSED Room 3 Mulroy Park Group Home,Sold/Disposed,Disposed Properties,Room 3,"Mulroy Park Group Home, Milford Road",Carrigart,Co. Donegal,F92,Housing Void,Room in Group Home,Sold/Disposed,Disposed/Sold,Donegal County,NaN,NaN,0.000000,0.000000,0,0

In [56]:
#Sorting data - only look at the data for Sarah Mallon
property[property["PropertyAreaOffice"]=="Sarah Mallon"]

,PropertyID,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,PropertyLatitude,PropertyLongitude,YearOfConstruction,BedSpaces
15,U13330,"1 Oak Court, The Willows",Sarah Mallon,The Willows,1,"Oak Court, The Willows",Dunshaughlin,Co. Meath,A85 TK72,Occupied,Property,Sarah Mallon,Residential In Management,Meath County,General Needs,Terraced House,53.50405,-6.52995,2022,3
16,U13331,"2 Oak Court, The Willows",Sarah Mallon,The Willows,2,"Oak Court, The Willows",Dunshaughlin,Co. Meath,A85 F890,Occupied,Property,Sarah Mallon,Residential In Management,Meath County,General Needs,Terraced House,53.50405,-6.52995,2022,3
17,U13332,"3 Oak Court, The Willows",Sarah Mallon,The Willows,3,"Oak Court, The Willows",Dunshaughlin,Co. Meath,A85 F791,Occupied,Property,Sarah Mallon,Residential In Management,Meath County,General Needs,Terraced House,53.50405,-6.52995,2022,3
18,U13333,"4 Oak Court, The Willows",Sarah Mallon,The Willows,4,"Oak Court, The Willows",Dunshaughlin,Co. Meath,A85 W263,Occupied,Property,Sarah Mallon,Residential In Management,Meath County,General Needs,Terraced House,53.50405,-6.52995,2022,3
19,U13334,"5 Oak Court, The Willows",Sarah Mallon,The Willows,5,"Oak Court, The Willows",Dunshaughlin,Co. Meath,A85 XK22,Occupied,Property,Sarah Mallon,Residential In Management,Meath County,General Needs,Terraced House,53.50405,-6.52995,2022,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11641,U14127,"47 The Drive, Saint Marnock's Bay",Sarah Mallon,St Marnocks Bay,47,"The Drive, Saint Marnock's Bay",Portmarnock,Co. Dublin,D13 E0CP,Pre-acquisition Void,Property,Sarah Mallon,In Development - pre closing,Fingal County,General Needs,Terraced House,53.41801,-6.14698,2023,3
11643,U14128,"48 The Drive, Saint Marnock's Bay",Sarah Mallon,St Marnocks Bay,48,"The Drive, Saint Marnock's Bay",Portmarnock,Co. Dublin,D13 E95A,Pre-acquisition Void,Property,Sarah Mallon,In Development - pre closing,Fingal County,General Needs,Terraced House,53.41801,-6.14698,2023,3
11644,U14129,"49 The Drive, Saint Marnock's Bay",Sarah Mallon,St Marnocks Bay,49,"The Drive, Saint Marnock's Bay",Portmarnock,Co. Dublin,D13 N9TW,Pre-acquisition Void,Property,Sarah Mallon,In Development - pre closing,Fingal County,General Needs,Terraced House,53.41801,-6.14698,2023,3
11645,U14116,"65 The Avenue, Saint Marnock's Bay",Sarah Mallon,St Marnocks Bay,65,"The Avenue, Saint Marnock's Bay",Portmarnock,Co. Dublin,D13 T6KR,Pre-acquisition Void,Property,Sarah Mallon,In Development - pre closing,Fingal County,General Needs,Apartment,53.41794,-6.14910,2023,2
11646,U14119,"68 The Avenue, Saint Marnock's Bay",Sarah Mallon,St Marnocks Bay,68,"The Avenue, Saint Marnock's Bay",Portmarnock,Co. Dublin,D13 WRC8,Pre-acquisition Void,Property,Sarah Mallon,In Development - pre closing,Fingal County,General Needs,Apartment,53.41794,-6.14910,2023,2

In [64]:
#Sorting - returning just one column
New ["PropertyCounty"]
New.PropertyCounty

PropertyID
U13210     Co. Kerry
U13211     Co. Kerry
U13217     Co. Kerry
U13223     Co. Kerry
U13224     Co. Kerry
             ...
U14165    Co. Galway
U14166    Co. Galway
U14130     Dublin 22
U14135     Dublin 22
U14163    Co. Galway
Name: PropertyCounty, Length: 11699, dtype: object

In [57]:
#Sorting data - renaming columns to useful names
import pandas as pd
property = pd.read_excel(r'C:\Users\ahayes\PycharmProjects\UCDPA_AH_PROPER\data\Property Dataset March 2023.xlsx')
property.rename(columns ={"PropertyLocalAuthorityArea":"LocalAuthority","PropertyPostcode":"eircode","PropertyAreaOffice":"HousingManager"},inplace = True) 
property.head()

,PropertyID,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,eircode,PropertyCurrentStatus,PropertyType,HousingManager,PropertyOwningBody,LocalAuthority,PropertySubType,PropertyStyle,PropertyLatitude,PropertyLongitude,YearOfConstruction,BedSpaces
0,U13210,"7 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,7,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 HWR0,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,4
1,U13211,"8 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,8,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 N40P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,4
2,U13217,"14 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,14,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 FA4P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3
3,U13223,"20 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,20,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 TRX4,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3
4,U13224,"21 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,21,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 C8YV,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3

In [79]:
#Indexing - changing index on the data
New = pd.read_excel(r'C:\Users\ahayes\PycharmProjects\UCDPA_AH_PROPER\data\Property Dataset March 2023.xlsx')
New = pd.read_excel(r'C:\Users\ahayes\PycharmProjects\UCDPA_AH_PROPER\data\Property Dataset March 2023.xlsx', index_col = "PropertyID")
New.head()

,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,PropertyLatitude,PropertyLongitude,YearOfConstruction,BedSpaces
PropertyID,,,,,,,,,,,,,,,,,,,
U13210,"7 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,7,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 HWR0,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,4
U13211,"8 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,8,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 N40P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,4
U13217,"14 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,14,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 FA4P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3
U13223,"20 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,20,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 TRX4,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3
U13224,"21 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,21,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 C8YV,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3

In [63]:
#Indexing - resetting the index on the data
Old = New.reset_index()
Old.head()

,PropertyID,PropertyName,PropertyAreaCode,PropertyStreetCode,PropertyNumber,PropertyStreet,PropertyTown,PropertyCounty,PropertyPostcode,PropertyCurrentStatus,PropertyType,PropertyAreaOffice,PropertyOwningBody,PropertyLocalAuthorityArea,PropertySubType,PropertyStyle,PropertyLatitude,PropertyLongitude,YearOfConstruction,BedSpaces
0,U13210,"7 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,7,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 HWR0,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,4
1,U13211,"8 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,8,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 N40P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,4
2,U13217,"14 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,14,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 FA4P,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3
3,U13223,"20 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,20,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 TRX4,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3
4,U13224,"21 Oak Drive, Ard Na Greine, Knockavota",Gerard Deegan,Ard Na Greine,21,"Oak Drive, Ard Na Greine, Knockavota",Milltown,Co. Kerry,V93 C8YV,Occupied,Property,Gerard Deegan,Residential In Management,Kerry County,General Needs,Semi-detached House,52.14057,-9.72104,2022,3

In [76]:
#Grouping
property.groupby(["PropertyCounty","PropertyStyle"])["PropertyStyle"].count()

PropertyCounty  PropertyStyle
Co. Carlow      Bungalow                    21
                Bungalow -detached           1
                Bungalow -semi-detached     23
                Detached House               1
                Semi-detached House        108
                                          ...
Dublin 9        Apartment                   41
                Bungalow                     3
Galway          Bungalow                     1
Limerick        Bungalow                     1
Waterford       Bungalow                     2
Name: PropertyStyle, Length: 297, dtype: int64

In [81]:
#Grouping by multiple columns
property.groupby(["HousingManager","PropertyCounty"])["PropertyID"].count()

HousingManager  PropertyCounty
Aimee McGee     Co. Cavan          76
                Co. Clare          93
                Co. Donegal       170
                Co. Galway        548
                Co. Leitrim        11
                                 ...
Sold/Disposed   Dublin 8           48
                Dublin 9            3
                Galway              1
                Limerick            1
                Waterford           2
Name: PropertyID, Length: 131, dtype: int64

In [80]:
#Grouping by multiple columns
property.groupby(["PropertyCounty","PropertyStyle","BedSpaces"])["PropertyStyle"].count()

PropertyCounty  PropertyStyle            BedSpaces
Co. Carlow      Bungalow                 1            8
                                         2            6
                                         3            7
                Bungalow -detached       4            1
                Bungalow -semi-detached  1            1
                                                     ..
Dublin 9        Bungalow                 3            2
Galway          Bungalow                 3            1
Limerick        Bungalow                 3            1
Waterford       Bungalow                 2            1
                                         3            1
Name: PropertyStyle, Length: 596, dtype: int64

In [40]:
#return the number of columns and missing data
property.info()
#not what I had in mind - would like to see where the missing data is
property.isna().info()
#same result 
property.isna().sum()
#now I can see which column has missing data either blank or with null value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11699 entries, 0 to 11698
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PropertyID                  11699 non-null  object
 1   PropertyName                11699 non-null  object
 2   PropertyAreaCode            11699 non-null  object
 3   PropertyStreetCode          11699 non-null  object
 4   PropertyNumber              11537 non-null  object
 5   PropertyStreet              11452 non-null  object
 6   PropertyTown                11404 non-null  object
 7   PropertyCounty              11432 non-null  object
 8   PropertyPostcode            11424 non-null  object
 9   PropertyCurrentStatus       11635 non-null  object
 10  PropertyType                11524 non-null  object
 11  PropertyAreaOffice          11699 non-null  object
 12  PropertyOwningBody          11698 non-null  object
 13  PropertyLocalAuthorityArea  11005 non-null  object
 14  PropertySubType             11203 non-null  object
 15  PropertyStyle               11528 non-null  object
 16  PropertyLatitude            11699 non-null  float64
 17  PropertyLongitude           11699 non-null  float64
 18  YearOfConstruction          11699 non-null  int64
 19  BedSpaces                   11699 non-null  int64
dtypes: float64(2), int64(2), object(16)
memory usage: 1.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11699 entries, 0 to 11698
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PropertyID                  11699 non-null  bool
 1   PropertyName                11699 non-null  bool
 2   PropertyAreaCode            11699 non-null  bool
 3   PropertyStreetCode          11699 non-null  bool
 4   PropertyNumber              11699 non-null  bool
 5   PropertyStreet              11699 non-null  bool
 6   PropertyTown                11699 non-null  bool
 7   PropertyCounty              11699 non-null  bool
 8   PropertyPostcode            11699 non-null  bool
 9   PropertyCurrentStatus       11699 non-null  bool
 10  PropertyType                11699 non-null  bool
 11  PropertyAreaOffice          11699 non-null  bool
 12  PropertyOwningBody          11699 non-null  bool
 13  PropertyLocalAuthorityArea  11699 non-null  bool
 14  PropertySubType             11699 non-null  bool
 15  PropertyStyle               11699 non-null  bool
 16  PropertyLatitude            11699 non-null  bool
 17  PropertyLongitude           11699 non-null  bool
 18  YearOfConstruction          11699 non-null  bool
 19  BedSpaces                   11699 non-null  bool
dtypes: bool(20)
memory usage: 228.6 KB

PropertyID                      0
PropertyName                    0
PropertyAreaCode                0
PropertyStreetCode              0
PropertyNumber                162
PropertyStreet                247
PropertyTown                  295
PropertyCounty                267
PropertyPostcode              275
PropertyCurrentStatus          64
PropertyType                  175
PropertyAreaOffice              0
PropertyOwningBody              1
PropertyLocalAuthorityArea    694
PropertySubType               496
PropertyStyle                 171
PropertyLatitude                0
PropertyLongitude               0
YearOfConstruction              0
BedSpaces                       0
dtype: int64

In [117]:
#Drop duplicates
property.drop_duplicates(subset="PropertyStreetCode", keep = "first", inplace = False)

KeyError: Index(['PropertyStreetCode'], dtype='object')

In [113]:
Local_Authority_group = property.groupby("PropertyLocalAuthorityArea")
LA_group = Local_Authority_group.get_group("NULL")
print(LA_group)

KeyError: 'PropertyLocalAuthorityArea'